@import '../base/variables';
@import '../base/mixins';

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
}

.herlar {
  background: linear-gradient(180deg, $black 67.92%, #9B7D44 100%);
  padding-bottom: 50px;
}

.hew {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding-top: 30px;
  margin: auto;
  color: $white;
  font-family: $font-amiko;
  font-size: 48px;
  font-weight: 600;
}

.divla {
  width: 90%;
  border-radius: 100px;
  background: $orange-soft;
  margin: 50px auto 0;
  max-width: 1200px;
}

.diver {
  display: flex;
  align-items: center;
  justify-content: stretch;
  width: 90%;
  gap: 30px;
  flex-wrap: wrap;
  margin: auto;

  div {
    display: block;
    width: 70%;
  }

  h1,
  h2 {
    color: $white;
    text-align: center;
    font-family: $font-amiko;
    font-size: 2vw;
    font-weight: 400;
  }

  img {
    width: 5px;
  }

  h4 {
    color: $white;
    text-align: left;
    font-family: $font-amiko;
    font-size: 23px;
    display: none;
    font-weight: 400;
  }

  h3 {
    color: $white;
    text-align: center;
    font-family: $font-amiko;
    font-size: 1.3vw;
    font-weight: 400;
  }
}

.oxirgi_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-bottom: 30px;

  h2 {
    color: $white;
    font-weight: 400;
    text-align: center;
    font-family: $font-amiko;
    font-size: 32px;
  }

  img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto 0;
  }

  button {
    padding: 10px 35px;
    border-radius: 35px;
    background: $orange-main;
    font-weight: 400;
    color: $black;
    font-family: $font-amiko;
    font-size: 32px;
    border: none;
    margin-top: 80px;
  }

  div {
    display: block;
  }
}

.oxirgi_divv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  gap: 10px;
  margin: 30px auto 0;
}

.oxirgi_text {
  h2 {
    color: $white;
    text-align: center;
    font-family: $font-amiko;
    font-size: 32px;
    font-weight: 400;
  }

  img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}

// -------- Адаптив --------

@include max991 {
  .oxir_button button {
    font-size: 30px;
    padding: 5px 20px;
  }

  .hew {
    font-size: 30px;
  }

  .divla {
    margin-top: 10px;
    padding: 10px;
    border-radius: 40px;
  }

  .diver {
    gap: 0;

    div {
      width: 100%;
    }

    h2 {
      display: none;
    }

    h1 {
      font-size: 20px;
    }

    img {
      display: none;
    }

    h4 {
      display: block;
      font-size: 18px;
      margin-left: 10px;
    }

    h3 {
      font-size: 12px;
    }
  }
}

.oxir_button button {
  background: $orange-main; 
  color: $black;
  font-family: $font-amiko;
  font-size: 32px;
  font-weight: 400;
  padding: 10px 35px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
.oxir_button a {
  text-decoration: none;
}