$black: #000;
$white: #fff;

$orange-main: #FFA30B;
$orange-dark: #F39D12;
$orange-light: #FFA30B66;
$orange-soft: rgba(255, 163, 11, 0.42);

$gray-50: #5A5A5A80;
$gray-70: #353535;
$gray-90: rgba(90, 90, 90, 0.55);

$radius-big: 50px;
$radius-mid: 30px;
$radius-small: 20px;

$font-comfortaa: 'Comfortaa', sans-serif;
$font-amiko: 'Amiko', sans-serif;
$font-inter: 'Inter', sans-serif;

$white: #fff;
$transition: all 0.3s ease;